* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
  perspective: 900px;
}
a {
  display: block;
  width: 30px;
  height: 30px;
  top: 590px; 
  left: 850px; 
  background-color: orange;
  font-size: 15px;
  color: white;
  text-decoration: none;
  text-indent: 2em;
  border-radius: 50px;
  z-index: 1;
  position: absolute;
}


a:hover{
  background-color: #1E1E1E;
  transition: all .3s ease-in-out
}

h1{
  z-index: 0;
  color: white;
  top: 550px;
  text-align: center;
  border-radius: 2em;
  position: absolute;
}
.play-video{
  top: 80px;
}

.text-style{
  width: 600px;
  height: 200px;
  font-size: 18px;
  z-index: 1;
}

.text-style h1{
  color: white;
  -webkit-box-reflext: below -3px linear-gradient(transparent, rgba(0,0,0,0.2));
}

.text-style{
  position: absolute;
  top: 10px;
  left: 450px;
  text-align: center;
}
